@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: sans-serif, Arial, Helvetica, ;
}
:root {
  --background: #f7f3ed;
  --foreground: #26312f;

  --primary: #344b46;
  --primary-light: #506861;

  --secondary: #d8cbbb;
  --accent: #b56f5a;

  --cream: #f7f3ed;
  --white: #ffffff;
  --muted: #716f68;
}
body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1,
h2,
h3 {
  font-family: var(--font-serif);
}